<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">

	<link rel="alternate" type="application/json+oembed" href="{{it.oEmbedLink}}" title="{{it.Title}}">
	{{it.MetaTags}}

	<!-- Cache control -->
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">

	<!-- Search engines -->
	<meta name="description" content="{{it.Description}}">
	<meta name="keywords" content="file hosting, file sharing, embed, ogp, open graph protocol, oembed, discord, twitter, facebook, social media">
	<meta name="author" content="rafa_br34">
</head>